[user]
	name = KevInZhao
	email = hellozhaowenkai@gmail.com
[init]
	defaultBranch = main
[core]
	editor = vim
	ignoreCase = false
	autocrlf = input
	safecrlf = warn
	excludesFile = ~/.gitignore_global
[commit]
	template = ~/.gitmessage
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
