[user]
	name = KevInZhao
	email = hellozhaowenkai@gmail.com
[core]
	editor = vim
	ignorecase = false
	autocrlf = input
	excludesfile = ~/.gitignore_global
[commit]
	template = ~/.gitmessage
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
